.blog-item-content {
	h3 {
		line-height: 36px;
	}

	h3 a {
		transition:all .4s ease 0s;

		&:hover {
			color: $blue!important;
		}
	}
}

.lh-36 {
	line-height: 36px;
}

.tags {
	a {
		background: $black;
		border-radius: 38px;
		border: 1px solid $border-color;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 10px;
		padding: 8px 23px;
		text-transform: capitalize;
	}
}

.pagination .nav-links a, .pagination .nav-links span.current {
		color: $gray;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 1.2px;
		margin: 0 10px;
		text-transform: uppercase;

}

.pagination .nav-links span.current, .pagination .nav-links a.next, .pagination .nav-links a.prev {
		 color: $black;
}

h3.quote {
		font-size: 25px;
		line-height: 50px;
		font-weight: normal;
		padding: 0px 25px 0px 85px;
		margin: 65px 0 65px 0 !important;
		position: relative;
}

h3.quote::before {
		background: $primary-color;
		content: '';
		height: 2px;
		position: absolute;
		left: 0;
		top: 25px;
		width: 55px;
}

.nav-posts-title {
	line-height: 25px;
	font-size: 18px;
}

.latest-blog {
	padding-bottom: 150px;
	position: relative;
}

.blog-item {
	//border-bottom: 1px solid $border-color;
}

  .bg-white {
    background-color: $black !important;
  }

