.footer {
    background: $dark;
    .copyright {
      a {
        font-weight: 600;
      }
    }
  }

  .footer-btm {
    border-top: 1px solid $dark;
  }

  .footer-socials {
    text-align: right;

    li a {
      margin-left: 15px;
    }
  }
