.bg-1 {
	background: url("../images/bg/home_white.jpg") no-repeat 50% 50%;
	background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-2 {
	background: url("../images/bg/home_white.jpg");
	background-size: cover;
	@extend .overly;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* LEVEL 1 */

.level-1 {

  .bg-1 {
    background: url("../images/bg/home_blue.jpg") no-repeat 50% 50%;
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-2 {
    background: url("../images/bg/home_blue.jpg");
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}


/* LEVEL 2 */

.level-2 {

  .bg-1 {
    background: url("../images/bg/home_green.jpg") no-repeat 50% 50%;
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-2 {
    background: url("../images/bg/home_green.jpg");
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}


/* LEVEL 3 */

.level-3 {

  .bg-1 {
    background: url("../images/bg/home_red.jpg") no-repeat 50% 50%;
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-2 {
    background: url("../images/bg/home_red.jpg");
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}