.contact-form-wrap {
			.form-group {
				padding-bottom: 15px;
				margin: 0px;

				.form-control {
					background: $secondary-color;
					border: 1px solid $border-color;
					box-shadow: none;
					height: 48px;
					width: 100%;
				}
			}

			.form-group-2 {
				margin-bottom: 13px;
				 
				textarea {
					background: $secondary-color;
					border: 1px solid $border-color;
					box-shadow: none;
					height: 135px;
					width: 100%;
				}
			}
}


.address-block {
	li {
		margin-bottom:10px;

		i {
			font-size: 20px;
			width: 20px;
		}
	}
}


.social-icons {
	li {
		margin:0 6px;
	}
 
	i {
		margin-right: 15px;
		font-size: 25px;
	}
}