#navbar {
  background: $white;

  li {
    padding-left: 15px;

    &.active .nav-link {
      color: $black;
    }
  }

 .nav-link {
    color: $grey;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    
    &:hover, &:focus {
      color: $black;
    }
  }


  .btn {
    padding: .5rem 1.5rem;
    color: $black;
  }

  .sign-btn {
    padding: .5rem 1.5rem .5rem 0rem;
    background: $white;
    color: $grey;
    font-size: 20px;
    font-weight: 400;
    transition: all, 0.2s, ease;

    &:hover {
      background: $white;
      color: $black;
    }
  }

}

.navbar-brand {
  width: 300px;
  height: auto;

  @include mobile {
    width: 240px;
  }
}