.slider{
	background: url("../images/bg/home-1.jpg") no-repeat;
	background-size: cover;
	background-position: 10% 0%;
	padding:200px 0 280px 0;
	position: relative;
	@extend .overly;

	.block {
		h1 {
			color: $black;
			font-size: 70px;
			font-weight: 600;
			line-height: 80px;

		}

		p {
			color: $darkgray;
			font-size: 18px;
			font-weight: 300;
			line-height: 27px;
			margin-bottom: 30px;
		}

		span {
			letter-spacing: 1px;
		}
	}
}
