@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:300,400,500,600,700);
input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
  box-shadow: none;
  font-size: 14px;
  height: 45px;
  outline: none; }
  input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="tel"]:focus {
    border: 1px solid #f75757;
    box-shadow: none; }

.form-control {
  box-shadow: none;
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #f75757; }

.btn {
  border-radius: 0;
  display: inline-block;
  font-size: 0.8125rem;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: all, 0.2s, ease; }
  .btn:focus {
    border: 0px;
    box-shadow: none;
    outline: 0px; }

.btn-main, .btn-small {
  background: grey;
  color: white;
  transition: all, 0.2s, ease; }
  .btn-main:hover, .btn-small:hover {
    background: black;
    color: white; }

.btn-solid-border {
  border: 2px solid grey;
  color: white; }
  .btn-solid-border:hover {
    border: 2px solid black;
    background: black; }

.btn-small {
  padding: 10px 25px;
  font-size: 12px; }

.btn-round {
  border-radius: 4px; }

.btn-round-full {
  border-radius: 50px; }

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0; }

.bg-gray {
  background: #f5f8f9; }

.bg-primary {
  background: #f75757; }

.section {
  padding: 100px 0; }

.section-title {
  margin-bottom: 70px; }
  .section-title .title {
    font-size: 50px;
    line-height: 50px; }
  .section-title p {
    color: #666;
    font-family: "Montserrat", sans-serif; }

.subtitle {
  color: #f75757;
  font-size: 14px;
  letter-spacing: 1px; }

.overly, .page-title, .bg-about, .bg-2, .slider {
  position: relative; }
  .overly:before, .page-title:before, .bg-about:before, .bg-2:before, .slider:before {
    content: "";
    background: white;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%; }

.text-color {
  color: black; }

.text-sm {
  font-size: 14px; }

.text-md {
  font-size: 2.25rem; }

.text-lg {
  font-size: 3.75rem; }

/* Links */
a {
  color: grey;
  text-decoration: none; }

a:focus, a:hover {
  color: black;
  text-decoration: none; }

a:focus {
  outline: none; }

.content-title {
  font-size: 40px;
  line-height: 50px; }

.page-title {
  padding: 100px 0; }
  .page-title .block h1 {
    color: black; }
  .page-title .block p {
    color: black; }

.bg-about {
  background-size: cover;
  background: url("../images/about/home-8.jpg") no-repeat;
  content: "";
  left: 0px;
  min-height: 650px;
  position: absolute;
  top: 0px;
  width: 45%; }

.about-content {
  padding: 20px 0px 0px 80px; }
  .about-content h4 {
    font-weight: 600; }
    .about-content h4:before {
      content: "\f126";
      font-family: "Font Awesome 5 Free";
      font-size: 30px;
      font-weight: 700;
      left: -65px;
      position: absolute;
      top: 8px; }

.bg-1 {
  background: url("../images/bg/home-2.jpg") no-repeat 50% 50%;
  background-size: cover; }

.bg-2 {
  background: url("../images/bg/home-1.jpg");
  background-size: cover; }

.blog-item-content h3 {
  line-height: 36px; }

.blog-item-content h3 a {
  transition: all .4s ease 0s; }
  .blog-item-content h3 a:hover {
    color: black !important; }

.lh-36 {
  line-height: 36px; }

.tags a {
  background: black;
  border-radius: 38px;
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 8px 23px;
  text-transform: capitalize; }

.pagination .nav-links a, .pagination .nav-links span.current {
  color: grey;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin: 0 10px;
  text-transform: uppercase; }

.pagination .nav-links span.current, .pagination .nav-links a.next, .pagination .nav-links a.prev {
  color: black; }

h3.quote {
  font-size: 25px;
  line-height: 50px;
  font-weight: normal;
  padding: 0px 25px 0px 85px;
  margin: 65px 0 65px 0 !important;
  position: relative; }

h3.quote::before {
  background: #f75757;
  content: '';
  height: 2px;
  position: absolute;
  left: 0;
  top: 25px;
  width: 55px; }

.nav-posts-title {
  line-height: 25px;
  font-size: 18px; }

.latest-blog {
  padding-bottom: 150px;
  position: relative; }

.blog-item {
  border-bottom: 1px solid #dedede; }

.chatbot {
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  height: 520px;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.3s ease;
  width: 320px; }
  .chatbot .chatbot-nav {
    background-color: white;
    border-bottom: 3px solid white;
    color: black;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
    width: 100%;
    z-index: 110; }
    .chatbot .chatbot-nav .chatbot-nav-item {
      float: left;
      height: 64px;
      line-height: 64px;
      margin-right: 50px;
      position: relative;
      transition: 0.3s ease; }
      .chatbot .chatbot-nav .chatbot-nav-item .chatbot-nav-item-link {
        color: inherit;
        display: block;
        height: 64px;
        line-height: 64px;
        padding-left: 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 0.3s ease;
        width: 100%; }
  .chatbot .chatbot-inner {
    -ms-overflow-style: none;
    background: #f2f2f2;
    height: 520px;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    padding-top: 64px; }
    .chatbot .chatbot-inner::-webkit-scrollbar {
      width: 0 !important; }
    .chatbot .chatbot-inner .chatbot-content {
      margin-bottom: 32px;
      padding: 10.66667px;
      position: relative; }
      .chatbot .chatbot-inner .chatbot-content .message-wrapper {
        margin: 10.66667px 0;
        overflow: hidden;
        padding: 10.66667px 0;
        position: relative;
        width: 100%; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.them .circle-wrapper,
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.them .text-wrapper {
          background: grey;
          color: black;
          float: left; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.them .text-wrapper:before {
          border-width: 0 10px 10px 0;
          border-color: transparent grey transparent transparent;
          position: absolute;
          top: 0;
          left: -9px; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.me .circle-wrapper,
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.me .text-wrapper {
          background: grey;
          color: white;
          float: right; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper.me .text-wrapper {
          background: black; }
          .chatbot .chatbot-inner .chatbot-content .message-wrapper.me .text-wrapper:before {
            border-width: 10px 10px 0 0;
            border-color: black transparent transparent transparent;
            position: absolute;
            top: 0;
            right: -9px; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper .circle-wrapper {
          border-radius: 50%;
          height: 42.66667px;
          width: 42.66667px; }
        .chatbot .chatbot-inner .chatbot-content .message-wrapper .text-wrapper {
          /* word-break: break-all; */
          border-radius: 2px;
          box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
          font-weight: 300;
          margin: 0 10.66667px;
          min-height: 42.66667px;
          opacity: 0;
          padding: 10.66667px;
          position: relative;
          width: 60%; }
          .chatbot .chatbot-inner .chatbot-content .message-wrapper .text-wrapper:before {
            content: "";
            border-style: solid;
            height: 0;
            width: 0; }
          .chatbot .chatbot-inner .chatbot-content .message-wrapper .text-wrapper .buttons a {
            background: grey;
            border-radius: 5px;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            margin: 0 5px;
            padding: 10px 20px 10px 20px;
            text-decoration: none; }
            .chatbot .chatbot-inner .chatbot-content .message-wrapper .text-wrapper .buttons a:hover {
              background: grey;
              text-decoration: none; }
  .chatbot .chatbot-textarea-wrapper {
    background: black;
    bottom: 0;
    height: 64px;
    position: fixed;
    right: 0;
    width: 320px; }
    .chatbot .chatbot-textarea-wrapper .chatbot-textarea {
      -ms-overflow-style: none;
      background: black;
      border: none;
      font-weight: 300;
      height: 64px;
      left: 0;
      overflow: -moz-scrollbars-none;
      overflow: scroll;
      padding-top: 24px;
      padding: 0 5%;
      position: absolute;
      resize: none;
      top: 0;
      width: calc(100% - 64px); }
      .chatbot .chatbot-textarea-wrapper .chatbot-textarea::-webkit-scrollbar {
        width: 0 !important; }
    .chatbot .chatbot-textarea-wrapper .chatbot-send {
      background: grey;
      border-radius: 50%;
      border: 0;
      color: black;
      height: 42.66667px;
      position: fixed;
      bottom: 10.66667px;
      right: 10.66667px;
      width: 42.66667px; }
      .chatbot .chatbot-textarea-wrapper .chatbot-send:before {
        content: "";
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
        background-size: 26px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0; }
      .chatbot .chatbot-textarea-wrapper .chatbot-send:hover {
        cursor: pointer; }

.contact-form-wrap .form-group {
  padding-bottom: 15px;
  margin: 0px; }
  .contact-form-wrap .form-group .form-control {
    background: #f5f8f9;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 48px;
    width: 100%; }

.contact-form-wrap .form-group-2 {
  margin-bottom: 13px; }
  .contact-form-wrap .form-group-2 textarea {
    background: #f5f8f9;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 135px;
    width: 100%; }

.address-block li {
  margin-bottom: 10px; }
  .address-block li i {
    font-size: 20px;
    width: 20px; }

.social-icons li {
  margin: 0 6px; }

.social-icons i {
  margin-right: 15px;
  font-size: 25px; }

.counter-item .counter-stat {
  font-size: 50px; }

.counter-item p {
  margin-bottom: 0px; }

.footer .copyright a {
  font-weight: 600; }

.footer-btm {
  border-top: 1px solid #dedede; }

.footer-socials li a {
  margin-left: 15px; }

.intro-item i {
  font-size: 60px;
  line-height: 60px; }

.color-one {
  color: #f75757; }

#navbar {
  background: white; }
  #navbar li {
    padding-left: 15px; }
    #navbar li.active .nav-link {
      color: black; }
  #navbar .nav-link {
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    #navbar .nav-link:hover, #navbar .nav-link:focus {
      color: black; }
  #navbar .btn {
    padding: .5rem 1.5rem;
    color: black; }

.navbar-brand {
  width: 300px;
  height: auto; }
  @media (max-width: 480px) {
    .navbar-brand {
      width: 240px; } }

.portflio-item:before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  overflow: hidden; }

.portflio-item:hover:before {
  opacity: 1; }

.portflio-item:hover .portfolio-item-content {
  opacity: 1;
  bottom: 20px;
  right: 30px; }

.portflio-item:hover .overlay-item {
  opacity: 1; }

.portflio-item .portfolio-item-content {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.portflio-item .overlay-item {
  align-items: center;
  bottom: 0px;
  color: grey;
  content: "";
  display: flex;
  font-size: 80px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

/*=== MEDIA QUERY ===*/
@media (max-width: 400px) {
  .navbar-toggler {
    color: black; }
  .slider .block h1 {
    font-size: 28px;
    line-height: 40px; }
  .slider {
    padding: 126px 0 151px 0; }
  .content-title {
    font-size: 28px;
    line-height: 46px; }
  .bg-about {
    display: none; }
  .p-5 {
    padding: 2rem !important; }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .text-lg {
    font-size: 3rem; }
  .blog-item-meta span {
    margin: 6px 0px; } }

@media (max-width: 480px) {
  .navbar-toggler {
    color: black; }
  .slider .block h1 {
    font-size: 38px;
    line-height: 50px; }
  .slider {
    padding: 126px 0 151px 0; }
  .content-title {
    font-size: 28px;
    line-height: 46px; }
  .bg-about {
    display: none; }
  .p-5 {
    padding: 2rem !important; }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .blog-item-meta span {
    display: block;
    margin: 6px 0px; } }

@media (max-width: 768px) {
  .navbar-toggler {
    color: black; }
  .bg-about {
    display: none; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .slider .block h1 {
    font-size: 56px;
    line-height: 70px; }
  .blog-item-meta span {
    display: block;
    margin: 6px 0px; } }

.testimonial-item {
  padding: 50px 30px; }
  .testimonial-item i {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1; }
  .testimonial-item .testimonial-text {
    color: grey;
    font-size: 20px;
    font-style: italic;
    line-height: 38px;
    margin-bottom: 30px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 65px; }

.slick-slide:focus, .slick-slide a {
  outline: none; }

.service-item {
  position: relative;
  padding-left: 80px; }
  .service-item i {
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 50px;
    opacity: .4; }

.slider {
  background: url("../images/bg/home-1.jpg") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative; }
  .slider .block h1 {
    color: black;
    font-size: 70px;
    font-weight: 600;
    line-height: 80px; }
  .slider .block p {
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 30px; }
  .slider .block span {
    letter-spacing: 1px; }

.team-img-hover .team-social li a.facebook {
  background: #6666cc; }

.team-img-hover .team-social li a.twitter {
  background: #3399cc; }

.team-img-hover .team-social li a.instagram {
  background: #cc66cc; }

.team-img-hover .team-social li a.linkedin {
  background: white; }

.team-img-hover {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.team-img-hover li a {
  border-radius: 2px;
  border: 2px solid transparent;
  color: black;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  display: inline-block;
  transform: translateY(0);
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.team-img-hover:hover li a:hover {
  transform: translateY(4px); }

.team-item:hover .team-img-hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

html {
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  color: grey;
  font-family: "Montserrat", serif;
  font-size: 17px;
  line-height: 1.5; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  color: grey;
  font-size: 1rem; }

p {
  line-height: 30px; }
