/* LEVEL 1 */
/* LEVEL 2 */
/* LEVEL 3 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:300,400,500,600,700);
input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 45px;
  outline: none;
  /*
	&:focus {
		border:1px solid $primary-color;
		box-shadow: none;
	}*/ }

.form-control {
  box-shadow: none;
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none;
    border: 1px solid gray; }

.btn {
  border-radius: 0;
  display: inline-block;
  font-size: 0.8125rem;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 2.5rem;
  margin: 5px 0 5px 0;
  text-transform: uppercase;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  border: 0px; }
  .btn:focus {
    border: 0px;
    box-shadow: none;
    outline: 0px; }

.btn-main, .btn-small, .btn-without-bg {
  background: #101010;
  color: white;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .btn-main:hover, .btn-small:hover, .btn-without-bg:hover {
    background: white;
    color: black; }

.sign-btn {
  position: relative;
  display: block;
  z-index: 1;
  float: right;
  height: 30px;
  width: 110px;
  padding: 3px 0 0 0;
  margin: 0;
  background: #101010;
  color: white;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .sign-btn:hover {
    background: #101010;
    color: #004bb4; }

#sign-out-button {
  display: none; }

.isLoggedIn #sign-in-button {
  display: none; }

.isLoggedIn #sign-out-button {
  display: block; }

.download-btn {
  position: relative;
  display: block;
  z-index: 1;
  float: right;
  height: 30px;
  width: 50px;
  padding: 3px 0 0 0;
  margin: 0 5px 0 0;
  background: #101010;
  color: white;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .download-btn:hover {
    background: #101010;
    color: #004bb4; }

.btn-solid-border {
  border: 2px solid #004bb4;
  color: black; }
  .btn-solid-border:hover {
    border: 2px solid #004bb4;
    background: #004bb4;
    color: black; }

.btn-small {
  padding: 10px 25px;
  font-size: 12px; }

.btn-round {
  border-radius: 4px; }

.btn-round-full {
  border-radius: 50px; }

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0; }

.btn-without-bg {
  padding: 10px 25px;
  background: none;
  color: gray;
  font-size: 12px; }
  .btn-without-bg:hover {
    border: none;
    background: none;
    color: black; }

.bg-gray {
  background: #f2f2f2; }

.bg-primary {
  background: gray; }

.section {
  background: #101010;
  padding: 100px 0; }

.section-title {
  margin-bottom: 70px; }
  .section-title .title {
    font-size: 50px;
    line-height: 50px; }
  .section-title p {
    color: gray;
    font-family: "Montserrat", sans-serif; }

.subtitle {
  color: gray;
  font-size: 16px;
  letter-spacing: 1px; }

.overly {
  position: relative; }
  .overly:before {
    content: "";
    background: white;
    bottom: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%; }

.text-color {
  color: white; }

.text-sm {
  font-size: 16px; }

.text-md {
  font-size: 2.25rem; }

.text-lg {
  font-size: 3.75rem; }

/* Links */
a {
  color: white;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

a:focus, a:hover {
  color: #004bb4;
  text-decoration: none; }

a:focus {
  outline: none; }

.content-title {
  font-size: 40px;
  line-height: 50px; }

.page-title {
  padding: 100px 0; }
  .page-title .block h1 {
    color: white; }
  .page-title .block p {
    color: black; }

code {
  color: black; }

pre code {
  color: black; }

.blue {
  color: #004bb4; }

.bg-about {
  background-size: cover;
  background: url("../images/about/ai_blue.jpg") no-repeat;
  content: "";
  left: 0px;
  min-height: 650px;
  position: absolute;
  top: 0px;
  width: 45%;
  margin-top: 100px; }

.about-content {
  padding: 20px 0px 0px 80px; }
  .about-content h4 {
    font-weight: 600; }
    .about-content h4:before {
      content: "\f126";
      font-family: "Font Awesome 5 Free";
      font-size: 30px;
      font-weight: 700;
      left: -65px;
      position: absolute;
      top: 8px;
      color: #004bb4; }

.bg-1 {
  background: url("../../images/bg/home_blue.jpg") no-repeat 50% 50%;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-2 {
  background: url("../images/bg/home_blue.jpg");
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.blog-item-content h3 {
  line-height: 36px; }

.blog-item-content h3 a {
  transition: all .4s ease 0s; }
  .blog-item-content h3 a:hover {
    color: #004bb4 !important; }

.lh-36 {
  line-height: 36px; }

.tags a {
  background: black;
  border-radius: 38px;
  border: 1px solid #dedede;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 23px;
  text-transform: capitalize; }

.pagination .nav-links a, .pagination .nav-links span.current {
  color: gray;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin: 0 10px;
  text-transform: uppercase; }

.pagination .nav-links span.current, .pagination .nav-links a.next, .pagination .nav-links a.prev {
  color: black; }

h3.quote {
  font-size: 25px;
  line-height: 50px;
  font-weight: normal;
  padding: 0px 25px 0px 85px;
  margin: 65px 0 65px 0 !important;
  position: relative; }

h3.quote::before {
  background: gray;
  content: '';
  height: 2px;
  position: absolute;
  left: 0;
  top: 25px;
  width: 55px; }

.nav-posts-title {
  line-height: 25px;
  font-size: 18px; }

.latest-blog {
  padding-bottom: 150px;
  position: relative; }

.bg-white {
  background-color: black !important; }

.chatbot-open {
  background-color: #101010;
  border: 1px solid #101010;
  box-shadow: none;
  color: white;
  cursor: pointer;
  height: 65px;
  padding: 10px 0 0 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 320px;
  z-index: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .chatbot-open:hover {
    color: #004bb4; }

.chatbot {
  display: none;
  background-color: #101010;
  box-shadow: none;
  height: 400px;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.3s ease;
  width: 320px;
  z-index: 1; }
  .chatbot .chatbot-nav {
    background-color: #101010;
    border-bottom: 1px solid white;
    color: white;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    list-style: none;
    margin: 0;
    font-size: 30px;
    text-align: center;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    width: 100%;
    z-index: 110; }
    .chatbot .chatbot-nav .chatbot-nav-item {
      height: 50px;
      line-height: 50px;
      margin-right: 5px;
      position: relative;
      transition: 0.3s ease; }
      .chatbot .chatbot-nav .chatbot-nav-item .chatbot-nav-item-link {
        color: inherit;
        display: block;
        height: 50px;
        line-height: 50px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s ease;
        width: 100%; }
        .chatbot .chatbot-nav .chatbot-nav-item .chatbot-nav-item-link:hover {
          color: #004bb4; }
  .chatbot .chatbot-inner {
    -ms-overflow-style: none;
    background: #f2f2f2;
    height: 400px;
    overflow: -moz-scrollbars-none;
    overflow: scroll;
    padding-top: 50px; }
    .chatbot .chatbot-inner::-webkit-scrollbar {
      width: 0 !important; }
    .chatbot .chatbot-inner .botui-container {
      background: none;
      font-size: 16px;
      font-family: "Montserrat", sans-serif; }
    .chatbot .chatbot-inner .botui-message-content.text {
      background: white; }
    .chatbot .chatbot-inner .botui-message-content.human {
      background: gray; }

.address-block li {
  margin-bottom: 10px; }
  .address-block li i {
    font-size: 20px;
    width: 20px; }

.social-icons li {
  margin: 0 6px; }

.social-icons i {
  margin-right: 15px;
  font-size: 25px; }

.counter-item .counter-stat {
  font-size: 50px; }

.counter-item p {
  margin-bottom: 0px; }

.footer {
  background: #101010; }
  .footer .copyright a {
    font-weight: 600; }

.footer-btm {
  border-top: 1px solid #101010; }

.footer-socials li a {
  margin-left: 15px; }

.intro-item i {
  font-size: 60px;
  line-height: 60px; }

.color-one {
  color: gray; }

.mdl-textfield__input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: gray;
  opacity: 0.5; }

.mdl-textfield__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: gray;
  opacity: 0.5; }

.mdl-textfield__input:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: gray;
  opacity: 0.5; }

.mdl-textfield__input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: gray;
  opacity: 0.5; }

#navbar {
  background: #101010; }
  #navbar li {
    padding-left: 15px; }
    #navbar li.active .nav-link {
      color: #004bb4; }
  #navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    #navbar .nav-link:hover, #navbar .nav-link:focus {
      color: #004bb4; }
  #navbar .btn {
    padding: .5rem 1.5rem;
    color: white; }
  #navbar .sign-btn {
    padding: .5rem 1.5rem .5rem 0rem;
    background: black;
    color: gray;
    font-size: 20px;
    font-weight: 400;
    transition: all, 0.2s, ease; }
    #navbar .sign-btn:hover {
      background: black;
      color: white; }

.navbar-brand {
  width: 300px;
  height: auto; }
  @media (max-width: 480px) {
    .navbar-brand {
      width: 240px; } }
  .navbar-brand .logo {
    display: none; }
  .navbar-brand .logo-blue {
    display: block; }
  .navbar-brand .logo-green {
    display: none; }
  .navbar-brand .logo-red {
    display: none; }

.portflio-item:before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  overflow: hidden; }

.portflio-item:hover:before {
  opacity: 1; }

.portflio-item:hover .portfolio-item-content {
  opacity: 1;
  bottom: 20px;
  right: 30px; }

.portflio-item:hover .overlay-item {
  opacity: 1; }

.portflio-item .portfolio-item-content {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.portflio-item .overlay-item {
  align-items: center;
  bottom: 0px;
  color: gray;
  content: "";
  display: flex;
  font-size: 80px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.testimonial-item {
  padding: 50px 30px; }
  .testimonial-item i {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1; }
  .testimonial-item .testimonial-text {
    color: gray;
    font-size: 20px;
    font-style: italic;
    line-height: 38px;
    margin-bottom: 30px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 65px; }

.slick-slide:focus, .slick-slide a {
  outline: none; }

.service-item {
  position: relative;
  padding-left: 80px; }
  .service-item i {
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 50px;
    opacity: .4; }

.slider {
  background: url("../images/bg/home_blue.jpg") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding: 100px 0 150px 0;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .slider .block h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    line-height: 80px; }
  .slider .block p {
    color: #004bb4;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 30px; }
  .slider .block span {
    letter-spacing: 1px; }

.team-img-hover .team-social li a.facebook {
  background: #6666cc; }

.team-img-hover .team-social li a.twitter {
  background: #3399cc; }

.team-img-hover .team-social li a.instagram {
  background: #cc66cc; }

.team-img-hover .team-social li a.linkedin {
  background: #004bb4;
  color: white; }

.team-img-hover {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.team-img-hover li a {
  border-radius: 2px;
  border: 2px solid transparent;
  color: black;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  display: inline-block;
  transform: translateY(0);
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.team-img-hover:hover li a:hover {
  transform: translateY(4px); }

.team-item:hover .team-img-hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

html {
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  color: gray;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.5; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1.2rem;
  color: gray; }

p {
  line-height: 30px; }

/*=== MEDIA QUERY ===*/
@media (max-width: 992px) {
  .navbar button {
    color: white; }
    .navbar button:hover {
      color: #004bb4; }
  .intro {
    text-align: center; }
  .counter {
    padding-top: 0; }
  .about-info {
    text-align: center; }
  .footer {
    text-align: center; }
  .team-item-content {
    text-align: center; }
  .section {
    padding: 50px 0; }
  .content-title,
  .section-title {
    text-align: center; }
  .address-block,
  .social-icons {
    text-align: center; } }

@media (max-width: 768px) {
  .navbar button {
    color: white; }
    .navbar button:hover {
      color: #004bb4; }
  .bg-about {
    display: none; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .slider .block h1 {
    font-size: 56px;
    line-height: 70px; }
  .blog-item-meta span {
    margin: 6px 0px; } }

@media (max-width: 480px) {
  .navbar-toggler {
    color: white; }
    .navbar-toggler:hover {
      color: #004bb4; }
  .navbar button {
    color: white; }
    .navbar button:hover {
      color: #004bb4; }
  .slider .block h1 {
    font-size: 38px;
    line-height: 45px; }
  .slider {
    padding: 60px 0 30px 0; }
  .section {
    padding: 50px 0; }
  .section-title {
    margin-bottom: 20px; }
  .page-title {
    padding: 30px 0 20px 0; }
  .content-title {
    font-size: 28px;
    line-height: 46px; }
  .bg-about {
    display: none; }
  .p-5 {
    padding: 2rem !important; }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px; }
  .testimonial-item {
    padding: 50px 30px 0 30px; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .blog-item-meta span {
    margin: 6px 0px; }
  .chatbot {
    width: 100%; }
  .chatbot-open {
    width: 100%; }
  .chatbot-nav {
    width: 100%; } }

@media (max-width: 400px) {
  .navbar-toggler {
    color: white; }
    .navbar-toggler:hover {
      color: #004bb4; }
  .navbar button {
    color: white; }
    .navbar button:hover {
      color: #004bb4; }
  .slider .block h1 {
    font-size: 38px;
    line-height: 45px; }
  .slider {
    padding: 60px 0 30px 0; }
  .section {
    padding: 50px 0; }
  .section-title {
    margin-bottom: 20px; }
  .page-title {
    padding: 30px 0 20px 0; }
  .content-title {
    font-size: 28px;
    line-height: 46px; }
  .bg-about {
    display: none; }
  .p-5 {
    padding: 2rem !important; }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px; }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px; }
  .testimonial-item {
    padding: 50px 30px 0 30px; }
  .card h3 {
    margin-bottom: 20px !important; }
  .footer-socials {
    margin-top: 20px; }
  .footer-socials li a {
    margin-left: 0px; }
  .text-lg {
    font-size: 3rem; }
  .blog-item-meta span {
    margin: 6px 0px; } }
