$primary-color: gray;


$black: black;
$blacktransparent: rgba(0,0,0,.75);

$white: white;
$whitetransparent: rgba(0,0,0,0.8);

$lightgray: #f2f2f2;
$gray: gray;

$border-color:#dedede;

$primary-font:'Montserrat', sans-serif;
$secondary-font:'Montserrat', sans-serif;
$extra-font:'Montserrat', serif;

$dark: #101010;

/* LEVEL 1 */
$blue: rgb(0, 100, 255);


/* LEVEL 2 */
$green: rgb(100, 255, 100);


/* LEVEL 3 */
$red: rgb(255, 50, 50);